<div class="mainnav ">
    <div class="container">
        <a data-target=".mainnav-collapse" data-toggle="collapse" class="mainnav-toggle">
            <span class="sr-only">Toggle navigation</span>
            <i class="fa fa-bars"></i>
        </a>
        <nav role="navigation" class="collapse mainnav-collapse">
            {% set bundles = admin_service.getBundles() %}
            {% for bundle,path in bundles %}
                {% include bundle ~'::_menu.html.twig' ignore missing %}
            {% endfor %}
        </nav>
    </div>
</div>