<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}Início{% endblock %} - {{ sysname }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Google Font: Open Sans -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:400,300,700">

    {% stylesheets filter='cssrewrite'
    'bundles/softpixeladmin/bower_components/fontawesome/css/font-awesome.min.css'
    'bundles/softpixeladmin/bower_components/bootstrap/dist/css/bootstrap.min.css'

    'bundles/softpixeladmin/bower_components/select2/dist/css/select2.min.css'
    'bundles/softpixeladmin/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css'
    'bundles/softpixeladmin/bower_components/jquery-icheck/skins/minimal/_all.css'
    'bundles/softpixeladmin/bower_components/bootstrap-3-timepicker/css/bootstrap-timepicker.css'
    'bundles/softpixeladmin/bower_components/bootstrap-datepicker/css/datepicker3.css'
    'bundles/softpixeladmin/bower_components/bootstrap-jasny/dist/css/jasny-bootstrap.css'
    'bundles/softpixeladmin/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.css'
    'bundles/softpixeladmin/bower_components/bootstrap-calendar/css/calendar.css'

    'bundles/softpixeladmin/css/mvpready-admin.css'  output='css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% set bundles = admin_service.getBundles() %}
    {% for bundle,path in bundles %}
        {% include bundle ~'::_styles.css.twig' ignore missing %}
    {% endfor %}

</head>

<body class="">

{% block body %}{% endblock %}

<div id="deleteActionModal" class="modal fade">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Confirmar exclusão</h3>
            </div> <!-- /.modal-header -->

            <div class="modal-body">
                <p>Tem certeza que deseja excluir <strong class="delete-name"></strong>?</p>
            </div> <!-- /.modal-body -->

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
                <a type="button" class="confirm-button btn btn-primary">Sim</a>
            </div> <!-- /.modal-footer -->

        </div> <!-- /.modal-content -->

    </div><!-- /.modal-dialog -->

</div><!-- /.modal -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Core JS -->
<script> var BASE_URL = '{{ app.request.getSchemeAndHttpHost() }}';</script>
{% javascripts
'@SoftPixelAdminBundle/Resources/public/bower_components/jquery/dist/jquery.min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap/dist/js/bootstrap.min.js'
'@SoftPixelAdminBundle/Resources/public/global/js/cidades-estados.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/slimscroll/jquery.slimscroll.min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/select2/dist/js/select2.min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/jquery-icheck/icheck.min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/parsleyjs/dist/parsley.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-3-timepicker/js/bootstrap-timepicker.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-datepicker/js/locales/bootstrap-datepicker.pt-BR.js'

'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-jasny/js/fileinput.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/jquery-simplecolorpicker/jquery.simplecolorpicker.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-jasny/dist/js/jasny-bootstrap.min.js'
'@SoftPixelAdminBundle/Resources/public/js/jquery.mask.min.js'

'@SoftPixelAdminBundle/Resources/public/global/js/mvpready-core.js'
'@SoftPixelAdminBundle/Resources/public/global/js/mvpready-helpers.js'

'@SoftPixelAdminBundle/Resources/public/js/mvpready-admin.js'
'@SoftPixelAdminBundle/Resources/public/global/js/mvpready-account.js'
'@SoftPixelAdminBundle/Resources/public/js/jquery.collection.js'

'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-calendar/components/underscore/underscore-min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-calendar/js/calendar.min.js'
'@SoftPixelAdminBundle/Resources/public/bower_components/bootstrap-calendar/js/language/pt-BR.js'
'@SoftPixelAdminBundle/Resources/public/js/default.js'  output='js/main.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% for bundle,path in bundles %}
    {% include bundle ~'::_scripts.js.twig' ignore missing %}
{% endfor %}

{% block javascripts %}{% endblock %}
</body>
</html>