
{%  set filter = app.request.query.get('filter') %}
<form method="get" class="form" action="{{ action }}" enctype="application/x-www-form-urlencoded">
    <div class="row">

        <div class="col-md-12">
            <label class="control-label" for="inputEmail3">Buscar por:</label>
            <div class="input-group input-group-sm">

                <input type="text" class="form-control" value="{{ filter.keyword|default('') }}" name="filter[keyword]" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-info btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                {% for key,value in filter if key != 'keyword' %}
                    <input type="hidden" value="{{ value }}" name="filter[{{ key }}]" />
                {% endfor  %}
            </div>
        </div>
    </div>
</form>