{% extends 'SoftPixelAdminBundle::base.html.twig' %}
{% set session_empresa = app.session.get('empresa') %}
{% block body %}

    <div id="wrapper">
        <div id="wrapper">

            <header role="banner" class="navbar">

                <div class="container">

                    <div class="navbar-header">
                        <button data-target=".navbar-collapse" data-toggle="collapse" type="button"
                                class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <i class="fa fa-cog"></i>
                        </button>

                        <a class="navbar-brand navbar-brand-img" href="{{ path('_admin') }}">
                            <img alt="{{ sysname }}" src="{{ asset('img/logo.png') }}">
                        </a>
                    </div> <!-- /.navbar-header -->
                    <ul class="nav navbar-nav navbar-left">
                        {% set notificacoes_service = notificacao_service.findNotRead() %}
                        <li class="dropdown navbar-notification {% if notificacoes_service|length == 0 %}empty{% endif %}">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell navbar-notification-icon"></i>
                                <span class="visible-xs-inline">&nbsp;Notificações</span>
                                <b class="badge badge-primary"
                                   id="count-notificacoes">{{ notificacoes_service|length }} </b>
                            </a>

                            <div class="dropdown-menu" id>

                                <div class="dropdown-header">&nbsp;Notificações</div>
                                <div class="notification-list">

                                    {% for notificacao in notificacoes_service %}
                                        <a href="{{ notificacao.url }}" class="notification">
                                            <span class="notification-icon"><i
                                                        class="fa {{ notificacao.icone }}"></i></span>
                                            <span class="notification-description">{{ notificacao.descricao|raw }}</span>
                                            <span class="notification-time">{{ notificacao.dataCadastro|date('d/m/Y') }}
                                                às {{ notificacao.dataCadastro|date('H:i') }}</span>
                                        </a> <!-- / .notification -->
                                    {% else %}
                                        <h4 class="notification-empty-title">Você não possui notificações</h4>
                                        <p class="notification-empty-text">No momento você não possui notificações,
                                            tente voltar mais tarde!</p>
                                    {% endfor %}

                                </div> <!-- / .notification-list -->
                                <a href="{{ path('_notificacoes') }}" class="notification-link">Ver todas as
                                    notificações</a>

                            </div> <!-- / .dropdown-menu -->

                        </li>
                    </ul>

                    <nav role="navigation" class="collapse navbar-collapse">

                        <ul class="nav navbar-nav navbar-right">

                            <li class="dropdown navbar-profile">
                                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle"
                                   aria-expanded="false">
                                    <img alt="" class="navbar-profile-avatar"
                                         src="{{ vich_uploader_asset(app.user, 'avatarFile')|default('/img/avatar.png') }}"
                                         width="100">
                                    <span class="visible-xs-inline">@peterlandt &nbsp;</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul role="menu" class="dropdown-menu">


                                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                                        <li><a href="{{ path('_admin_user_index') }}"><i class="fa fa-user"></i>
                                                Usuários</a></li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('admin_profile') }}">
                                            <i class="fa fa-user"></i>
                                            &nbsp;&nbsp;Meu Perfil
                                        </a>
                                    </li>

                                    <li>
                                        <a href="{{ path('admin_profile_change_password') }}">
                                            <i class="fa fa-dollar"></i>
                                            &nbsp;&nbsp;Mudar Senha
                                        </a>
                                    </li>


                                    <li class="divider"></li>

                                    <li>
                                        <a href="{{ path('admin_security_logout') }}">
                                            <i class="fa fa-sign-out"></i>
                                            &nbsp;&nbsp;Sair
                                        </a>
                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </nav>

                </div> <!-- /.container -->

            </header>


            {% include 'SoftPixelAdminBundle::AdminMenu.html.twig' %}

            <div class="content">

                <div class="container">
                    {% block content %}{% endblock %}

                </div> <!-- /.container -->

            </div> <!-- .content -->

        </div>
    </div>
    <!-- Static navbar -->

    <footer class="footer">
        <div class="container">
        <span class="pull-left">
            Copyright &copy; 2015- {{ 'now'|date('Y') }} {{ sysname }}.</span>
        <span class="pull-right">
            {{ sysvendor|raw }}

        </span>
        </div>
    </footer>

{% endblock %}

