{% extends 'SoftPixelAdminBundle::base.html.twig' %}
{% block title %}Entrar{% endblock %}
{% block body_class %}account-bg{% endblock %}
{% block body %}
    <header class="navbar" role="banner">

        <div class="container">

            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-cog"></i>
                </button>

                <a href="{{ path('admin_security_login') }}" class="navbar-brand navbar-brand-img">
                    <img src="{{ asset('img/logo.png') }}" alt="{{ sysname }}">
                </a>
            </div> <!-- /.navbar-header -->

        </div> <!-- /.container -->

    </header>

    <br class="xs-80">

    <div class="account-wrapper">

        <div class="account-body">

            {% block content %}{% endblock %}


        </div> <!-- /.account-body -->

        <div class="account-footer">

            <p>
                {{ sysvendor|raw }}

            </p>
        </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->
{% endblock %}