
{% for flashMessage in app.session.flashbag.get('error') %}
    {% if loop.first  %}
        <div class="alert alert-danger alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            <h4><i class="icon fa fa-ban"></i> Verifique os erros abaixo!</h4>
        {% endif %}
        {{ flashMessage }}
        {% if loop.last  %}
        </div>
    {% endif %}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    {% if loop.first  %}
        <div class="alert alert-success alert-dismissable">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            
        {% endif %}
        {{ flashMessage }}
        {% if loop.last  %}
        </div>
    {% endif %}
{% endfor %}