{% if pageCount > 1 %}

    <div class="text-right">
        <ul class="pagination">
            {% if first is defined and current != first %}
                <li class="paginate_button">
                    <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a>
                </li>
            {% endif %}

            {% if previous is defined %}
                <li class="paginate_button">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="paginate_button">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="paginate_button active">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li class="paginate_button">
                    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a>
                </li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="paginate_button">
                    <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
                </li>
            {% endif %}

        </ul>
    </div>
{% endif %}