<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
    {{ title }}     
    <i class="fa {{ options.class|replace({ 'asc' : 'fa-sort-amount-asc', 'desc' : 'fa-sort-amount-desc' , 'sortable' : 'fa-arrows-v'}) }}"></i>
</a>