{% extends 'SoftPixelAdminBundle::layout_min.html.twig' %}
{% block title %}Criar nova senha{% endblock %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-success">
                    <div class="box-body no-padding">
                        <div class="fc fc-ltr">
                            <div class="box-header with-border">
                                <h3 class="box-title">Estamos quase lá...</h3>
                            </div>
                            {{ form_start(form) }}
                            <div class="box-body">
                                {% if not form.vars.valid %}
                                    <div class="alert alert-danger alert-dismissable">
                                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                        <h4><i class="icon fa fa-ban"></i> Verifique os erros abaixo!</h4>
                                        {{ form_errors(form.password.first) }}
                                        {{ form_errors(form.password.second) }}
                                    </div>
                                {% endif %}


                                <p>Informe nos campos a sua nova senha e confirme para prosseguir.</p>

                                {% include('SoftPixelAdminBundle::flashbag.html.twig') %}

                                <div class="form-group">
                                    {{ form_widget(form.password.first) }}
                                </div>

                                <div class="form-group">
                                    {{ form_widget(form.password.second) }}
                                </div>
                            </div>

                            <div class="box-footer">
                                {{ form_widget(form.enviar) }}
                            </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock %}