{% extends 'SoftPixelAdminBundle::layout_email.html.twig' %}
{% block body %}
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Olá {{ user.nome }}, clique no botão abaixo para confirmar seu cadastro!
    </p>
    <!-- button -->
    <table class="btn-primary" cellpadding="0" cellspacing="0" border="0" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; width: auto !important; Margin: 0 0 10px; padding: 0;">
        <tr style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.6em; margin: 0; padding: 0;">
            <td style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 1.6em; border-radius: 25px; text-align: center; vertical-align: top; background: #008000; margin: 0; padding: 0;" align="center" bgcolor="#008000" valign="top">
                <a href="{{ url('admin_register_activate', { 'token' :  user.token }) }}" style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 2; color: #ffffff; border-radius: 25px; display: inline-block; cursor: pointer; font-weight: bold; text-decoration: none; background: #008000; margin: 0; padding: 0; border-color: #008000; border-style: solid; border-width: 10px 20px;">
                    Ativar meu cadastro
                </a>
            </td>
        </tr>
    </table>

    <!-- /button -->
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Após confirmar o seu cadastro você poderá acessar nosso sistema.
    </p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Obs: Se você recebeu este e-mail por engano, simplesmente o exclua. Você não será inscrito se não clicar no link de confirmação abaixo.
    </p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Fique tranquilo, adoramos privacidade assim como você, seu email está seguro!
    </p>
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6em; font-weight: normal; margin: 0 0 10px; padding: 0;">
        Para esclarecer dúvidas a respeito dessa lista, entre em contato: <a href="mailto:contato@mresult.com.br">contato@mresult.com.br</a>.
    </p>


{% endblock  %}