{% extends 'SoftPixelAdminBundle::layout_min.html.twig' %}
{% block title %}Entrar{% endblock %}
{% block content %}


    <h3>Acesso Restrito.</h3>

    <h5>Faça login para obter acesso.</h5>



    <form class="form account-form" action="{{ path('admin_security_login_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger alert-dismissable">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>

        {% endif %}
        {% include('SoftPixelAdminBundle::flashbag.html.twig') %}
        <div class="form-group">
            <label for="login-username" class="placeholder-hidden">Usuário ou E-mail</label>
            <input type="email" class="form-control" id="login-username" placeholder="Usuário ou E-mail" tabindex="1"
                   name="_username" value="{{ last_username }}" required>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <label for="login-password" class="placeholder-hidden">Senha</label>
            <input type="password" class="form-control" id="login-password" name="_password" placeholder="Senha"
                   tabindex="2" required>
        </div> <!-- /.form-group -->

        <div class="form-group clearfix">
            <div class="pull-left">
                <label class="checkbox-inline">
                    <input type="checkbox" class="" value="" tabindex="3" name="_remember_me" checked>
                    <small>Me mantenha conectado</small>
                </label>
            </div>

            <div class="pull-right">
                <small><a href="{{ path('admin_profile_reset_password') }}">Esqueceu a senha?</a></small>
            </div>
        </div> <!-- /.form-group -->

        <hr/>

        <div class="row">
            <div class="col-md-8">
                {% if register_form == true or admin_service.countUsers() == 0 %}
                   <a href="{{ path('admin_register') }}" class="btn">
                       <i class="fa fa-user-plus"></i> Criar conta de acesso
                    </a>
                {% endif %}
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary pull-right" tabindex="4">
                    Entrar <i class="fa fa-play-circle"></i>
                </button>
            </div>
        </div>


    </form>




{% endblock %}