{% extends 'SoftPixelAdminBundle::layout_min.html.twig' %}
{% block title %}Você está quase no final...{% endblock %}
{% block content %}

    <h3>Você está quase no final...</h3>
    <p>Desde já agradecemos o seu cadastro, porém precisamos confirmar o seu endereço de e-mail.</p>
    <p>Para concluir o processo, clique no link existente no e-mail que acabamos de enviar para você.</p>
    <p>Obrigado!</p>

{% endblock %}