{% extends 'SoftPixelAdminBundle::layout_min.html.twig' %}
{% block title %}Criar conta{% endblock %}
{% block content %}

    <h3>Criar conta</h3>
    <p>Preencha os dados abaixo para criar sua conta.</p>
    {{ form(form) }}
{% endblock %}