{% extends 'SoftPixelAdminBundle::layout_min.html.twig' %}
{% block title %}Esqueci minha senha{% endblock %}

{% block content %}

    
    <h3>Esqueci minha senha</h3>
    <form action="{{ path('admin_profile_reset_password') }}" method="post">
        <p>Você esqueceu a senha de sua Conta?</p>

        <p>Informe nos campos abaixo o E-mail de seu cadastro para enviarmos instruçoes de como resetar a sua senha.</p>
        
        {% include('SoftPixelAdminBundle::flashbag.html.twig') %}
        
        <div class="form-group">
            <input type="text" class="form-control" id="login-username" placeholder="E-mail" tabindex="1" name="_email" required>
        </div> <!-- /.form-group -->

        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
                Enviar instruções por e-mail &nbsp; <i class="fa fa-play-circle"></i>
            </button>
        </div> <!-- /.form-group -->
    </form>
{% endblock %}