{% extends 'SoftPixelAdminBundle::layout.html.twig' %}
{% block title %}Alterar Senha{% endblock %}
{% block content %}



    <div class="page-header">
        <h3 class="page-title">Alterar Senha</h3>

        <ol class="breadcrumb">
            <li><a href="{{ path('_admin') }}">Dashboard</a></li>
            <li><a href="{{ path('admin_profile') }}">Meu Perfil</a></li>
            <li class="active">Alterar Senha</li>
        </ol>
    </div>


    <div class="portlet portlet-boxed">

        <div class="portlet-header">
            <h4 class="portlet-title">
                <span class="">Editar</span>
            </h4>

        </div> <!-- /.portlet-header -->

        <div class="portlet-body">

            {{ form_start(form) }}
            <div class="box-body">
                {% if not form.vars.valid %}
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <h4><i class="icon fa fa-ban"></i> Verifique os erros abaixo!</h4>
                        {{ form_errors(form.password.first) }}
                        {{ form_errors(form.password.second) }}
                    </div>
                {% endif %}

                {% include('SoftPixelAdminBundle::flashbag.html.twig') %}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                        </div>
                    </div>
                </div>

            </div>
            <hr/>
            <div class="row">
                <div class="col-md-12 text-right">
                    {{ form_widget(form.enviar,{ 'label' : 'Salvar', 'attr' : { 'class' : 'btn-primary' } }) }}
                </div>
            </div>


            </form>
        </div>
    </div>
{% endblock %}