{% extends 'SoftPixelAdminBundle::layout.html.twig' %}
{% block title %}Meu Perfil{% endblock %}
{% block content %}
    <div class="page-header">
        <h3 class="page-title">Meu Perfil</h3>

        <ol class="breadcrumb">
            <li><a href="{{ path('_admin') }}">Dashboard</a></li>
            <li class="active">Meu Perfil</li>
        </ol>
    </div>


    <div class="portlet portlet-boxed">

        <div class="portlet-header">
            <h4 class="portlet-title">
                <span class="">Editar</span>

            </h4>

        </div> <!-- /.portlet-header -->

        <div class="portlet-body">
            <div class="fc fc-ltr">
                {{ form_start(form) }}
                <div class="box-body">
                    {% if not form.vars.valid %}
                        <div class="alert alert-danger alert-dismissable">
                            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                            <h4><i class="icon fa fa-ban"></i> Verifique os erros abaixo!</h4>
                            {{ form_errors(form.nome) }}
                            {{ form_errors(form.emails) }}
                            {{ form_errors(form.avatarFile) }}
                        </div>
                    {% endif %}

                    {% include('SoftPixelAdminBundle::flashbag.html.twig') %}


                    <div class="row">
                        <div class="col-md-2">
                            <img src="{{ vich_uploader_asset(form.vars.value, 'avatarFile')|default('/img/default.png') }}"
                                 width="100%"/>
                            <div class="form-group">
                                {{ form_label(form.avatarFile) }}
                                {{ form_widget(form.avatarFile) }}
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="form-group">
                                {{ form_label(form.nome) }}
                                {{ form_widget(form.nome) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </div>
                </div>

                <hr/>
                <div class="row">

                    <div class="col-md-12 text-right">
                        {{ form_widget(form.enviar) }}
                    </div>
                </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}