{{ form_start(form) }}

{{ form_row(form.name) }}
{{ form_row(form.role) }}
<table class="table table-striped">
    <thead>
        <tr>
            <th width="150">Nome</th>
            <th colspan="7">Permissões</th>
        </tr>
    </thead>
    <tbody>
        {% for permission in form.permissions %}
            <tr>
                <td>
                    {{ form_widget(permission.name) }}
                </td>
                {% for mask in permission.mask %}
                    <td>{{ form_widget(mask) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{{ form_row(form.enviar) }}
</form>