{% extends 'SoftPixelAdminBundle::layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            {{ knp_pagination_filter(roles, { 'keyword' : 'Palavra-chave'  }) }}
        </div>
        <div class="col-md-6 text-right">
            <a href="{{ path('_admin_role_adicionar') }}" class="btn btn-sm btn-primary">Adicionar</a>
        </div>
    </div>




    {% include 'SoftPixelAdminBundle:Role:list.html.twig' %}

    {{ knp_pagination_render(roles) }}
{% endblock %}
