<table class="table table-striped">
    <thead>
        <tr>
            <th width="50">{{ knp_pagination_sortable(roles, '#', 'r.id') }}</th>
            <th>{{ knp_pagination_sortable(roles, 'Nome', 'r.name') }}</th>
            <th width="100">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="?role={{ role.name }}" class="btn btn-xs btn-primary">Editar</a>
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>