{% extends 'SoftPixelAdminBundle::layout.html.twig' %}
{% block title %}Usuários - Adicionar{% endblock %}

{% block content %}
    <div class="page-header">
        <h3 class="page-title">Usuários</h3>

        <ol class="breadcrumb">
            <li><a href="{{ path('_admin') }}">Dashboard</a></li>
            <li><a href="{{ path('_admin_user_index') }}">Usuários</a></li>
            <li class="active">Adicionar</li>
        </ol>
    </div>


    <div class="portlet portlet-boxed">

        <div class="portlet-header">
            <h4 class="portlet-title">
                <span class="">Adicionar</span>

            </h4>

        </div> <!-- /.portlet-header -->

        <div class="portlet-body">
            {% include 'SoftPixelAdminBundle::flashbag.html.twig' %}
            {%  include 'SoftPixelAdminBundle:User:form.html.twig' %}
        </div>
    </div>

{% endblock %}
