{{ form_start(form) }}

{{  form_row(form.nome) }}
{{  form_row(form.email) }}

{%  if form.password is defined %}
<div class="row">
    <div class="col-md-6">
        {{  form_row(form.password.first) }}

    </div>
    <div class="col-md-6">
        {{  form_row(form.password.second) }}
    </div>
</div>
{%  endif %}


{{  form_row(form.roles) }}
{{  form_row(form.isActive) }}

<hr/>
<div class="row">
    <div class="col-md-4">
        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-default"><< Voltar</a>
    </div>
    <div class="col-md-8 text-right">
        {{ form_widget(form.enviar,{ 'label' : 'Salvar', 'attr' : { 'class' : 'btn-primary' } }) }}
    </div>
</div>
{{ form_end(form) }}