{% extends 'SoftPixelAdminBundle::layout.html.twig' %}
{% block title %}Usuários{% endblock %}
{% block content %}

    <div class="page-header">
        <h3 class="page-title">Usuários</h3>

        <ol class="breadcrumb">
            <li><a href="{{ path('_admin') }}">Dashboard</a></li>
            <li class="active">Usuários</li>
        </ol>
    </div>


    <div class="portlet portlet-boxed">

        <div class="portlet-header">
            <h4 class="portlet-title">
                <span class="">Todos</span>

            </h4>
            <a href="{{ path("_admin_user_adicionar") }}" class="btn btn-sm btn-primary pull-right"><i
                        class="fa fa-plus"></i> Novo usuário</a>
        </div> <!-- /.portlet-header -->

        <div class="portlet-body">
            <div class="well well-sm">
                {{ knp_pagination_filter(pagination, {'c.nome': 'Nome'}) }}
            </div>
            {% include 'SoftPixelAdminBundle::flashbag.html.twig' %}


            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th width="50">{{ knp_pagination_sortable(pagination, '#', 'u.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Nome', 'u.nome') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Papéis', 'r.name') }}</th>
                    <th width="100">{{ knp_pagination_sortable(pagination, 'Status', 'u.isActive') }}</th>
                    <th width="100">{{ knp_pagination_sortable(pagination, 'Última Atualização', 'u.updatedAt') }}</th>
                    <th width="100">Ações</th>
                </tr>
                </thead>
                <tbody>
                {% for user in pagination %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nome }}</td>
                        <td>{% for role in user.roles %}{{ (loop.index != 1?', ':'') ~ role.name }}{% endfor %}</td>
                        <td>
                            <a href="{{ path('_admin_user_status', { 'user' : user.id }) }}" title="Alterar status">

                                {{ user.isActive|replace({'1' : 'Ativo'})|default('Inativo') }}
                                <i class="fa fa-refresh"></i>
                            </a>
                        </td>
                        <td>
                            {{ admin_service.humanizeDateToNow(user.updatedAt) }}
                        </td>
                        <td>
                            <a href="{{ path('_admin_user_editar', { 'user' : user.id }) }}"
                               class="btn btn-xs btn-primary">Editar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-danger text-center">
                            <i class="fa fa-exclamation-triangle"></i> Nenhum registro encontrado
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {% if pagination.getTotalItemCount > 0 %}
                <div class="row">
                    <div class="col-md-2">

                        Total: {{ pagination.getTotalItemCount }}

                    </div>
                    <div class="col-md-10">
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div> <!-- /.portlet-body -->

    </div>


{% endblock %}
