{% extends 'SoftPixelAdminBundle::layout.html.twig' %}
{% block title %}Notificações{% endblock %}
{% block content %}
    <section class="demo-section">

        <div class="heading-block">
            <h4>
               Notificações
            </h4>
        </div> <!-- /.heading-block -->

        <div class="portlet">

            

            <div class="portlet-body">

                
                {% include 'SoftPixelAdminBundle::flashbag.html.twig' %}
                {% include 'SoftPixelAdminBundle:Notificacoes:list.html.twig' %}

                {{ knp_pagination_render(notificacoes) }}

            </div> <!-- /.portlet-body -->

        </div>


    </section>


{% endblock %}
