<ul class="icons-list notifications-list">
    {% for notificacao in notificacoes %}
        <li>
            <i class="icon-li fa {{ notificacao.icone }}"></i>
            <p>{{ notificacao.descricao }} em {{ notificacao.dataCadastro|date('d/m/Y') }} às {{ notificacao.dataCadastro|date('H:i') }}</p>
        </li>
    {% endfor %}
</ul>

